<html>
  <body>
    <center>
      <h2>Original URL: <%= @original_url %> </h2>
      <h2>Shortener URL: 
        <a>
          <%= link_to @short_url, controller: "shortened_urls", action: "fetch_original_url" %>
        </a>
        </h2>
    </center>
  </body>
</html>